@media (max-width: 768px) {
    .carousel-caption h5 {
        font-size: 24px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .carousel-caption h5 {
        font-size: 18px;
        padding: 5px 10px;
    }
}