.navbar {
    background-color: #727171 !important;
    padding: 0.5rem 1rem;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 0.125rem solid #5a5a5a;
}

/* Estilos del botón hamburguesa */
.navbar-toggler {
    margin-left: auto;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* Asegurar que los elementos ocupen todo el ancho */
.navbar-nav {
    list-style: none;
    display: flex;
    justify-content: space-between;  /* Distribuir a lo largo de la navbar */
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Cada ítem ocupa espacio equitativo */
.nav-item {
    flex: 1;
    text-align: center; /* Alinear el texto al centro */
}

/* Estilos de los enlaces */
.nav-item .nav-link {
    text-decoration: none;
    color: white !important;
    font-size: 1.125rem;
    padding: 0.625rem 1rem;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: block;
    width: 100%;  /* Hacer que ocupe todo el espacio del `nav-item` */
}

.nav-item .nav-link:hover {
    color: #000000 !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.nav-item .nav-link.active {
    background-color: #5d5d5c !important;
    color: #fff !important;
    font-weight: bold;
}

/* Evitar diferencias en la navbar en index.html */
body.index .navbar {
    padding: 0.5rem 1rem !important;
}

body.index .carousel-inner {
    height: 50vh !important;
}