.productos-seccion {
    padding: 2.5rem;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.productos-contenedor {
    width: 100%;
}

.productos-titulo {
    text-align: left;
    margin-bottom: 2rem;

    h1 {
        font-size: 2rem;
        font-weight: bold;
        color: #333;
    }

    p {
        font-size: 1rem;
        color: #555;
    }
}

.productos-venta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;  
}

.producto-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.33% - 1.5rem);  
    padding: 1rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 0.625rem;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    .imagen-contenedor {
        width: 100%;
        height: 20rem;
        margin-bottom: 2rem;
        overflow: hidden;
        background-color: #eaeaea;
        border-radius: 0.625rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .producto-imagen {
        width: 100%;
        height: 100%;
        object-fit: cover;  
    }

    .producto-descripcion {
        font-size: 1.125rem;
        color: #333;
        margin: 0.5rem 0;
    }

    .producto-precio {
        font-size: 1rem;
        color: #555;
    }
}
